/* ----------------------------- */
/* reset, selection, variables   */
/* ----------------------------- */

@import url(./reset.scss);
// @import url(./variables/variables.scss);
@import url(./selection-scroll/selsc.scss);
:root {
  --clr-black: 0, 0%, 0%;
  --clr-white: 0, 0%, 100%;
  --clr-dark-gray: 0, 0%, 20%;
  --clr-accent: 273, 100%, 22%;
  --clr-bright-accent: hsl(337, 96%, 56%);

  --ff-primary: 'Montserrat', sans-serif;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.75rem;
  --fs-700: 2.5rem;
  --fs-800: 3rem;

  --z-100: 100;
  --z-200: 200;
  --z-300: 300;
  --z-400: 400;
  --z-500: 500;

  --tr-time: 200ms;
  --tr-func: ease-in;

  --padding: 1rem;
  --rad-300: .25rem;
  --rad-400: .5rem;
}

/* ----------------------------- */
/* login-registration            */
/* ----------------------------- */

.loginreg {
  --width: 30rem;

  display: grid;
  gap: var(--padding);
  width: min(var(--width), 100% - var(--padding));
  margin-inline: auto;
  place-self: center;

  h2 {
    font-size: var(--fs-600);
    font-weight: var(--fw-600);
  }
}

.login,
.reg {
  display: grid;
  gap: clamp(1rem, 3vw, 1.5rem);
}

.login__heading,
.reg__heading {
  font-size: var(--fs-600);
  font-weight: var(--fw-600);
}

form {
  display: grid;
  gap: clamp(.5rem, 3vw, 1rem);

  input {
    background-color: transparent;
    border: 1px solid hsl(var(--clr-white));
    color: hsl(var(--clr-white));
    padding: var(--padding);
    border-radius: var(--rad-400);
    transition: all var(--tr-time) var(--tr-func);

    &:hover {
      border: 1px solid hsl(var(--clr-white), .6);
    }

    &:focus,
    &:focus-visible {
      border: 1px solid hsl(337, 96%, 56%);
      outline: none;
    }
  }

  button {
    background-color: hsl(337, 96%, 56%);
    color: hsl(var(--clr-white));
    border: 1px solid hsl(337, 96%, 56%);

    width: min-content;
    padding: .5rem 1rem;
    border-radius: var(--rad-400);

    cursor: pointer;
    transition: all var(--tr-func) var(--tr-time);

    &:hover {
      background-color: transparent;
      border: 1px solid hsl(var(--clr-white));
    }
  }
}

/* ----------------------------- */
/* General styling               */
/* ----------------------------- */

body.light #root {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #16a483);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

body #root {
  display: grid;

  background: linear-gradient(-45deg, #000000, #0f0038, #44007b, #a50542);
  background-size: 400% 400%;
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  min-height: 100vh;
  line-height: 1.6;
  letter-spacing: .1rem;
  animation: gradientBG 15s ease infinite;
}

.container {
  --width: 70rem;
  --padding: 1rem;

  width: min(var(--width), 100% - var(--padding) * 2);
  min-height: 100vh;
  margin-inline: auto;
}

@media (max-width: 40rem) {
  body #root {
    background-size: 180% 180%;
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* ----------------------------- */
/* Header component              */
/* ----------------------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;

  &__heading {
    font-weight: var(--fw-700);
    font-size: clamp(var(--fs-600), 6vw, var(--fs-700));
  }
}

.header__toggle {
  --button-color: hsl(var(--clr-white));

  position: relative;
  z-index: var(--z-200);

  background: transparent;
  border: 0 solid var(--button-color, #000);
  border-radius: .5rem;
  overflow: hidden;
  cursor: pointer;

  .hamburger {
    transition: translate 1s, rotate 1s;
  }

  &[aria-expanded="true"] .hamburger {
    translate: 3px -3px;
    rotate: 0.125turn;
  }

  .line {
    transition: 1s;
    stroke-dasharray: 60 31 60 300;
  }

  &[aria-expanded="true"] .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
  }
}

@media (min-width: 40rem) {
  .header__toggle {
    display: none;
  }
}

@media (max-width: 40rem) {
  .header__logo {
    display: none;
  }
}

/* ----------------------------- */
/* Navigation component          */
/* ----------------------------- */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(1rem, 5vw, 3rem);
  padding-block: clamp(.5rem, 3vw, 3rem);

  form {
    flex-grow: 1;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
  }

  &__link {
    position: relative;
    font-size: clamp(var(--fs-300), 10vw, var(--fs-500));
    color: var(--clr-white);
    text-decoration: none;
    transition: all 150ms ease-in;
  }

  &__link::before {
    position: absolute;
    content: '';
    top: 1.5rem;
    height: 3px;
    width: 100%;
    background-color: var(--clr-bright-accent);
    ;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 150ms ease-in;
  }

  &__link:hover::before {
    transform: scaleX(1);
  }

  &__link:hover {
    color: var(--clr-bright-accent);
  }

  &__search {
    background: transparent;
    padding: 1rem;
    width: 100%;
    border: 1px solid var(--clr-bright-accent);
    color: hsl(var(--clr-white));
    border-radius: 100vmax;
  }
}

@media (max-width: 40rem) {
  .nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;

    form {
      width: 100%;
    }

    &__list {
      flex-direction: column;
      justify-content: flex-start;
      text-align: left;
      gap: 4rem;
      position: fixed;
      z-index: var(--z-100);

      height: 100vh;
      width: 60%;
      padding: 9rem clamp(2rem, 10vw, 5rem) 0;

      background-color: hsl(var(--clr-white), 0.05);
      backdrop-filter: blur(1rem);
      color: hsl(var(--clr-white));

      right: 0;
      top: 0;

      transition: transform 700ms ease-in;
    }

    &__list[aria-expanded="false"] {
      transform: translateX(100%);
    }
  }
}

/* ----------------------------- */
/* Home component                */
/* ----------------------------- */

.home {
  margin-block: clamp(1rem, 5vw, 2rem);

  &__empty {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    font-weight: var(--fw-700);
    text-align: center;
  }
}

.feed {
  display: grid;
  gap: 1rem;

  &__link {
    text-decoration: none;
    color: inherit;
  }
}

.item {
  display: grid;
  gap: clamp(0rem, 5vw, 2rem);
  padding: clamp(1.5rem, 4vw, 3rem);
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(1.5rem);
  border-radius: .4rem;

  &__heading {
    display: flex;
    gap: 2rem;
    text-align: start;
  }

  &__header {
    font-size: var(--fs-600);
    font-weight: var(--fw-700);
    line-height: 102%;
  }

  &__date {
    letter-spacing: .2rem;
    color: var(--clr-bright-accent);
    display: flex;
    align-items: flex-end;
  }
}

@media (max-width: 40rem) {
  .item__heading {
    flex-direction: column;
  }
}

/* ----------------------------- */
/* Post page                     */
/* ----------------------------- */

.post-page {
  margin-block: clamp(1rem, 5vw, 2rem);
}

.buttons {
  display: flex;
  gap: 1rem;
}

.post__delete {
  width: fit-content;
  padding: .5rem 1.75rem;
  background-color: var(--clr-bright-accent);
  color: hsl(var(--clr-white));
  border-radius: .25rem;
  border: 1px solid var(--clr-bright-accent);
  cursor: pointer;
  transition: all 200ms ease-in;

  &:hover {
    background-color: hsl(var(--clr-white));
    color: var(--clr-bright-accent);
  }
}

.post__edit {
  width: fit-content;
  padding: .5rem 1.75rem;
  background-color: hsl(var(--clr-white));
  color: var(--clr-bright-accent);
  border-radius: .25rem;
  border: 1px solid var(--clr-bright-accent);
  cursor: pointer;
  transition: all 200ms ease-in;

  &:hover {
    background-color: var(--clr-bright-accent);
    color: hsl(var(--clr-white));
  }
}

.edit-post__body {
  height: auto;
  max-width: 100%;
}

/* ----------------------------- */
/* New post page                 */
/* ----------------------------- */

.new-post {
  margin-block: clamp(1rem, 5vw, 2rem);

  .title-label,
  .body-label {
    font-size: var(--fs-500);
  }

  &__form {
    display: grid;
    gap: 1rem;
  }

  &__title,
  &__body {
    padding: 1rem;
    background-color: transparent;
    color: hsl(var(--clr-white));
    border: 1px solid var(--clr-bright-accent);
    border-radius: .75rem;
  }

  &__heading {
    font-size: var(--fs-600);
    font-weight: var(--fw-700);
    line-height: 102%;
  }

  &__submit {
    width: fit-content;
    padding: .75rem 2rem;
    margin-top: 1.3rem;

    background: var(--clr-bright-accent);
    border: 1.5px solid var(--clr-bright-accent);
    border-radius: .75rem;

    color: hsl(var(--clr-white));
    font-weight: var(--fw-600);

    transition: all 150ms ease-in;
    cursor: pointer;
  }

  &__submit:hover {
    background: hsl(var(--clr-white));
    color: var(--clr-bright-accent);
  }
}

/* ----------------------------- */
/* Footer                        */
/* ----------------------------- */

.footer {
  background-color: hsl(337, 96%, 56%, .1);
  backdrop-filter: blur(1rem);
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: clamp(.5rem, 3vw, 2rem);
}

.footer-nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;

  .footer-nav__link {
    color: hsl(var(--clr-white));
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 40rem) {
  .footer {
    justify-content: space-between;
    align-items: flex-end;
    padding-inline: 1rem;
  }

  .footer-nav__list {
    flex-direction: column;
    align-items: flex-start;

    .footer-nav__link {
      text-align: left;
    }
  }
}

/* ----------------------------- */
/* About page                    */
/* ----------------------------- */

.about {
  display: grid;
  gap: 2rem;
  margin-block: clamp(1rem, 5vw, 2rem);
  max-width: 60ch;

  &__header {
    font-size: var(--fs-600);
    font-weight: var(--fw-700);
    line-height: 102%;
  }
}