:root {
    --clr-black: 0, 0%, 0%;
    --clr-white: 0, 0%, 100%;
    --clr-dark-gray: 0, 0%, 20%;
    --clr-accent: 273, 100%, 22%;
    --clr-bright-accent: hsl(337, 96%, 56%);
  
    --ff-primary: 'Montserrat', sans-serif;
  
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
  
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.75rem;
    --fs-700: 2.5rem;
    --fs-800: 3rem;
  
    --z-100: 100;
    --z-200: 200;
    --z-300: 300;
    --z-400: 400;
    --z-500: 500;
  }